<ion-header>
  <ion-navbar>
    <ion-title>
      Spellathon
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>List of letters </ion-label>
      <ion-input type="text" min="3" max="10" [(ngModel)]="lettersList" placeholder="Enter the letters you want to find the dictionary words for" #input (keyup)="onLetterPress(input.value)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked >Pick the mandatory Letter</ion-label>
    </ion-item>
    <button ion-button [color]="btnSelected[letter] ? '':'light'" *ngFor="let letter of lettersArr$ | async" (click)="letterChosen(letter)">
      {{letter | uppercase}}
    </button>
    <!--<ion-item>
      <ion-label>Minimum Word Length <ion-badge>{{wordLength}}</ion-badge></ion-label>
      <ion-range min="4" max="maxLength$ | async" step="1" [(ngModel)]="wordLength" color="secondary">
        <ion-label range-left>4</ion-label>
        <ion-label range-right>{{maxLength$ | async}}</ion-label>
      </ion-range>
    </ion-item>-->
  </ion-list>
  <button ion-button color="default" (click)="fetchDictionaryWords()">
    Get Dictionary Words
  </button>

  <ion-list>
    <ion-list-header>
      Dictionary Words
    </ion-list-header>
  <ion-item *ngFor="let word of dictWords$ | async">{{word}}</ion-item>
</ion-list>
</ion-content>
